<!DOCTYPE html>
<html ng-app = 'ProductsApp'>
<head>
    <meta charset="UTF-8">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src="js/app.js"></script>
        <title>Лабораторна робота номер 3</title>
</head>
<body>
<div ng-controller="ProductsController" align="center">
    <label>Введіть сніданок: </label>
    <input type="text" ng-model="listOfProducts">
    <button ng-click="showAnswer()">Чи не забагато?</button>
        <div class="text" align="center">{{text}}</div>
</div>
</body>
</html>